.wrapper {
    padding: 30px 30px 100px 100px;
    border: 1px solid red;
    position: relative;
}

.link1 {
    font-weight: 500;
    font-size: 55.1163px;
    line-height: 29px;
    position: relative;
    color: red;
}

.link1::before {
    content: "";
    width: 100%;
    height: 2px;
    position: absolute;
    bottom: -5px;
    background-color: red;
    transform: scale(0);
    transition: transform 500ms ease;
}

.link1:hover {
    color: rgb(175, 4, 4);
}

.link1:hover:before {
    transform: scale(1)
}