// $way-img: '../assets/images';
$way-fonts: './../../assets/fonts';

// font
$PoppinsRegular:'PoppinsRegular';
$PoppinsMedium:'PoppinsMedium';
$PoppinsSemiBold:'PoppinsSemiBold';
$PoppinsBold:'PoppinsBold';

// global variable
$backgroundColor: #0A0707;
$primaryColor: #0A0707;
$secondaryColor: #251170;
$tertiaryColor:#FFFFFF;
$accentColor:#E67FEF;


//variable
$cardSpan:#C4C4C4;
