/*-base- Подключаем скаченные шрифты -*/
@import "./scss/base/fonts";

/*-variable-*/
@import "./scss/abstracts/variables/variables";

/*-mixins-*/
@import "./scss/abstracts/mixins/mixins";

/*-elements-*/
@import "./scss/abstracts/elements/elements";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  // background-color: rgb(6, 6, 63);
  min-height: 100vh;
}



