/*-base- Подключаем скаченные шрифты -*/
@import "./scss/base/fonts";

/*-variable-*/
@import "./scss/abstracts/variables/variables";

/*-mixins-*/
@import "./scss/abstracts/mixins/mixins";

/*-elements-*/
@import "./scss/abstracts/elements/elements";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  // background-color: rgb(6, 6, 63);
  min-height: 100vh;
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}

.item1 {
  background-color: rgb(22, 248, 248);
}
.item2 {
  background-color: rgb(255, 230, 0);
}
.item3 {
  background-color: rgb(255, 0, 204);
}

